body{
    text-align: center;
}
#im{
    height: 225px;
    width: 300px;
}
#sm{
    height: 225px;
    width: 300px;
}
#bm{
    height: 225px;
    width: 300px;
}
#am{
    height: 225px;
    width: 300px;
}
#g{
    height: 225px;
    width: 300px;
}
#opm{
    height: 225px;
    width: 300px;
}
#wwm{
    height: 225px;
    width: 300px;
}
#h{
    height: 225px;
    width: 300px;
}
#grid{
    height: 600px;
    background-color: green;
    padding: 100px;
}
h1{
    font-size: 60px;
    font-family: cursive;
}
#move{
  
    background-color: red;
    height: 700px;
}
#th{
   height: 600px;
   width: 1500px; 
}
#bp{
   height: 600px;
   width: 1500px;
}
#bw{
   height: 600px;
   width: 1500px;  
}
#ca{
   height: 600px;
   width: 1500px;  
}
#v{
   height: 600px;
   width: 1500px;  
}